// TODO
mixin image(source)
  img(alt=text src='/assets/=source')

mixin css(source)
  link(rel='stylesheet' href=source)

mixin javascript(source)
  script(type="text/javascript" src=source)

mixin place(title, coordinates, description)
  .place
    .inner.center-children
      span.title= title
    .map.center-children
      a(href='https://tools.wmflabs.org/geohack/geohack.php?params=40.8_N_73.3_W')
        img(width='80px' height='80px' alt=title title=description src='/assets/vagrant.svg')

doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title Testbed
    meta(name="description" content="Brendan Luchen, Full-Stack Engineer. Scripter of Java, Tisane of Coffee, Writer of Limericks, Frame Pointer Extraordinaire")
    +css('animate.css')
    +css('http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    +javascript('wow.js')
    
    ////////////////////// 
    // Style
    ////////////////////// 
    style
      :stylus
        .center-children
          display flex
          justify-content center
          align-items center
        .pull-right
          justify-content right
        body
          color hsl(120, 100%, 70%)
          font-family 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif
          background magenta

          h1,h4
            margin-top 0
            margin-bottom 0

          h1
            font-size 250%
            text-align center
            font-variant small-caps
          h4
            text-align right

          blockquote
            text-align center
            width 23em
            font-size 24px
            font-variant small-caps
            em
              color hsl(120, 100%, 30%)


          section
            padding 120px
            min-height 100vh

          img#logo
            text-align center
            vertical-align center

          header#top
            @extend .center-children
            width 100vw
            height 100vh
            background url('/assets/doodle.jpg')
            background-attachment fixed

          section
            background black

            &#who
              background hsl(0, 0%,  10%)
            &#where
              background hsl(72, 00%, 5%)
              .place
                display inline
                border 1px solid aliceblue
                padding 8px
                margin 24px

            &#how
              background url('/assets/doodle.jpg')
              background-attachment fixed
              img.toolbelt
                width 25%
                height 25%

            &#what
              background hsl(0, 00%,15%)
              img 
                width 80%
            &#when
              background hsl(72, 00%,20%)
            &#why
              background hsl(0, 00%,15%)

  ////////////////////// 
  // Content
  ////////////////////// 
  body(class='document')
    script.
      new WOW().init()

    header#top
      .center-children
        img#logo(src='assets/logo.png' alt='BML')

    section#who.wow.fadeIn
      h4 Full-Stack Engineer
      h1 Brendan Luchen
      .flair.pull-right
        #flair-stackexchange
          a(href='http://stackexchange.com/users/40769')
            img(src='http://stackexchange.com/users/flair/40769.png')
        #flair-euler
          img(src='https://projecteuler.net/profile/Cheezmeister.png')

    section.quote.wow.fadeInRight
      .center-children
        blockquote 
          :markdown
            An affinity for *learning* new things, a *left-brain-meets-right* approach to computing, and a passion for *creative expression* make me something like a Swiss-army sabre.

    section#what.wow.fadeInLeft
      h4 Software I've Delivered
      h1 What
      // img#chromathud(src='http://davesilvermanart.com/blog/wp-content/uploads/2013/03/Title.png')
      // img#codmw3(src='http://vignette1.wikia.nocookie.net/callofduty/images/9/95/MW3_logo_Test.png/revision/latest?cb=20120120013620')

    section.wow.slideInBottom
        blockquote 
          :markdown
            Scripter of Java.

            Tisane of Coffee.

            Writer of Limericks.

            Pointer of Frames.

    section#where.wow.fadeInRight
      h4 Former Lives
      h1 Where
      .center-children
        +place('Long Island, NY', 'blar', 'I grew up here.')
        +place('Rochester, NY', 'blar', 'I studied Computer Science here.')
        +place('Durham, NC', 'blar', 'I fixed bugs for IBM here.')
        +place('Dubrovnik, Croatia', 'blar', 'I studied robots and the environment here.')
      .center-children
        +place('Portland, ME', 'blar', 'I made games for Activision here.')
        +place('Madison, WI', 'blar', 'I made apps for Epic here.')
        +place('Seattle, WA', 'blar', 'I live here.')

    section#how.wow.slideInLeft
      h4 My Toolbelt
      h1 How
      mixin tool(id, title, source)
        img.toolbelt(id=id src=source alt=id title=title)
      +tool('vim', 'Vim', '/assets/vim.svg')
      img#coffee.toolbelt(src='/assets/coffeescript.svg')
      img#node.toolbelt(src='/assets/nodejs-new-white-pantone.png')
      img#git.toolbelt(src='/assets/1024px-Git_icon.svg.png')
      img#vagrant.toolbelt(src='/assets/vagrant.svg')

    section#why.wow.slideInLeft
      .inner
        h4 What Drives Me
        h1 Why
        p
          :markdown
            Something something passion.
