mixin image(source, text)
  img(alt=text src='/assets/' + source)

mixin css(source)
  link(rel='stylesheet' href=source)

mixin javascript(source)
  script(type="text/javascript" src=source)

doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title Brendan Luchen
    meta(name="description" content="Brendan Luchen, Full-Stack Engineer. Scripter of Java, Tisane of Coffee, Writer of Limericks, Frame Pointer Extraordinaire")
    +css('http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic')
    +css('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    +css('bootstrap.min.css')
    +css('animate.css')
    +javascript('wow.js')
    +javascript('https://maps.googleapis.com/maps/api/js?key=AIzaSyB20MgpK8uazyS0pZWfkMiA6mzwLkCpzOA')
    
    ////////////////////// 
    // Style
    ////////////////////// 
    style
      :stylus
        .center-children
          display flex
          justify-content center
          align-items center
        .pull-right
          justify-content right
        .pull-left
          justify-content left
        .background-overlay-dark
          position: relative;
          width: 100%;
          height: 100%;
          margin: -120px;
          background: rgba(0,0,0,0.8)
        .interstitial
          text-align center
          vertical-align middle
          width 23em
          font-size 24px
          font-variant small-caps
          em
            color hsl(120, 100%, 30%)
        .googlemap
          border-radius 8px
          background aliceblue
          transition 0.4s ease
        .focus
          width 80%
          text-align center
          font-size 1.5em


        body
          color hsl(120, 100%, 70%)
          font-family 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif
          background black

          i
            font-family 'Helvetica',sans

          h1,h4
            margin-top 0
            margin-bottom 0

          h1
            font-size 250%
            text-align center
            font-variant small-caps
          h4
            text-align right

          section, header
            padding 120px
            min-height 100vh

          img#logo
            text-align center
            vertical-align center

          header#top
            @extend .center-children
          footer#bottom
            border-top 1px solid #444

          section
            background black

            &#who
              background hsl(0, 0%,  10%)
            &#where
              background hsl(72, 00%, 5%)
              .place
                .map
                  transition 0.2s ease
                  padding 12px
                  &:hover 
                    transform scale(1.1)

            &#how
              .toolbelt
                width 21%
                height 21%
                margin 6%

            &#what
              background hsl(0, 00%,15%)
              img 
                width 80%
            &#when
              background hsl(72, 00%,20%)
            &#why
              background linear-gradient(hsla(100,100%,0%,0.99),hsla(240,100%,20%,0.8)), url('https://upload.wikimedia.org/wikipedia/commons/f/fc/Mandel_zoom_08_satellite_antenna.jpg')
              background-attachment fixed

          .background-doodle-light
            // Props to https://css-tricks.com/tinted-images-multiple-backgrounds
            background linear-gradient(hsla(100,100%,02%,0.8),hsla(140,100%,20%,0.8)), url('/assets/doodleprime.jpg')
            background-attachment fixed
          .background-doodle-dark
            background linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('/assets/doodle.jpg')
            background-attachment fixed
          .background-doodle-color
            background linear-gradient(hsla(80,100%,0%,0.8),hsla(120,100%,0%,0.8)), url('/assets/doodledprime.jpg')
            background-attachment fixed

  ////////////////////// 
  // Content
  ////////////////////// 
  body(class='document')
    script.
      new WOW().init()

      // google.maps.event.addDomListener(window, 'load', function() {
      //   var els = document.getElementsByClassName("googlemap");
      //   for (key in els) {
      //     var el = els[key];
      //     var lat = el.dataset.lat;
      //     var lng = el.dataset.long;
      //     new google.maps.Map(el, {
      //       center: new google.maps.LatLng(lat,lng),
      //       zoom: 8
      //     });
      //   }
      // });

    header#top.background-doodle-dark
      .center-children
        img#logo(src='assets/logo.png' alt='BML')
    section#who.wow.slideInLeft
      h4 Brendan Luchen
      h4 Full-Stack Engineer
      h1 Who
      h1.contacts
        a(href='https://linkedin.com/in/cheezmeister')
          i.fa.fa-linkedin.fa-fw.fa-2x
        a(href='https://twitter.com/chzmstr')
          i.fa.fa-twitter.fa-fw.fa-2x
        a(href='https://github.com/cheezmeister')
          i.fa.fa-github.fa-fw.fa-2x
      .center-children
        img(width='80%' height='60%' src='/assets/cover.jpg')
      .flairzone
        .flair.pull-right
          #flair-stackexchange
            a(href='http://stackexchange.com/users/40769')
              img(src='http://stackexchange.com/users/flair/40769.png' alt="StackExchange")
        .flair.pull-left
          #flair-euler
            img(src='https://projecteuler.net/profile/Cheezmeister.png' alt="Project Euler")

    section.quote.wow.slideInRight
      .center-children
        .interstitial
          :markdown
            An affinity for *learning* new things, a *left-brain-meets-right* approach to computing, and a passion for *creative expression* make me something like a Swiss-army sabre.

    section#what.wow.fadeInLeft
      h4 Delivered Results
      h1 What
      .row
        .col-md-6
          div(style='text-align: center')
            h3 Professional
            p: a(href='https://www.callofduty.com/mw3') Modern Warfare 3
            // +image('mw3.png', 'Modern Warfare 3')
            p: a(href='https://play.google.com/store/apps/details?id=com.epic.haiku.android&hl=en') Epic Haiku for Android
        .col-md-6
          div(style='text-align: center')
            h3 Personal
            p: a(href='https://luchenlabs.com/projects/chromathud') Chromathud
            p: a(href='https://npmjs.org/kapok') Kapok
            p: a(href='https://luchenlabs.com/projects/vec') Vec
      .row
        .col-md-12
          div(style='text-align: center')
            h3 Writing
            p
              ul
                p: a(href='https://luchenlabs.com/words/programming') This is what Programming Language You Should Learn
                p: a(href='https://luchenlabs.com/words/gdc') How I Crashed GDC (and why you should too)
                p: a(href='https://github.com/cheezmeister/gfsticky') Game Design & Programming Sticky Topic


    section.wow.fadeIn.background-doodle-color
      .center-children
        .interstitial
          :markdown
            Scripter of Java.  
            Tisane of Coffee.  
            Pointer of Stacks.
            Limericksmith.

    section#where.wow.fadeIn
      h4 Former Lives
      h1 Where
      mixin place(title, lat, long, description)
        .col-lg-4
          .place
            .title.center-children
              a(href="https://en.wikipedia.org/wiki/" + title)
                span.title(title=description)= title
            .map.center-children
              .googlemap(style='width:120px;height:120px' data-lat=lat data-long=long title=description)

      .center-children
        +place('Long Island, NY', '40.8', '-73.3', 'I grew up here.')
        +place('Rochester, NY', '43.165556', '-77.611389', 'I studied Computer Science here.')
      .center-children
        +place('Durham, NC', '35.988611', '-78.907222', 'I fixed bugs for IBM here.')
        +place('Dubrovnik, Croatia', '42.640278', '18.108333', 'I studied robots and the environment here.')
        +place('Portland, ME', '43.666667', '-70.266667', 'I made games for Activision here.')
      .center-children
        +place('Madison, WI', '43.066667', '-89.4', 'I made apps for Epic here.')
        +place('Seattle, WA', '47.609722', '-122.333056', 'I hosted for AirBnB here.')
      .center-children
        +place('Boston, MA', '47.609722', '-122.333056', 'I live here.')

    section.wow.fadeIn.background-doodle-light.center-children
      .center-children
        .interstitial
          .row
            .col-md-4 Code Monkey
            .col-md-4 ⛷
            .col-md-4 Ski Junkie  
          .row
            .col-md-4 Game Maker
            .col-md-4 🕹 
            .col-md-4 Bread Baker  
          .row 
            .col-md-4 Tea Drinker
            .col-md-4 🧀 
            .col-md-4 Deep Thinker  

    section#how.wow.fadeIn
      h4 My Toolbelt
      h1 How
      mixin tool(id, title, source, link)
        a(href="https://en.wikipedia.org/wiki/" + link)
          img.toolbelt(id=id src=source alt=id title=title)
      +tool('vim', 'Vim', '/assets/vim.svg', 'Vim_(Text_Editor)')
      +tool('coffee', 'CoffeeScript', '/assets/coffeescript.svg', 'CoffeeScript')
      +tool('node', 'NodeJS', '/assets/nodejs-new-white-pantone.png', 'Node.js')
      +tool('git', ' Git', '/assets/1024px-Git_icon.svg.png', 'Git')
      +tool('tmux', 'Tmux', '/assets/tmux.png', 'tmux')
      +tool('elixir', 'Elixir', '/assets/elixir.png', 'Elixir (programming language)')
      +tool('arch', 'Arch Linux', '/assets/arch.svg', 'Arch Linux')
      +tool('docker', 'Docker', '/assets/docker.svg', 'Docker_(Software)')
      +tool('eclipse', 'Eclipse', '/assets/eclipse.svg', 'Eclipse_(Software)')

    section#why.wow.fadeIn
      .inner
        h4 What Drives Me
        h1 Why
        .center-children
          .focus
            :markdown
              I take a slightly different approach to software.
              I code for love of the craft, but it is also a means to an end.
              Software is a precise but organic machine which solves a specific problem.

              I try not to get lost in the implementation details.

              I try to collect real experiences in lieu of those on paper.
              I fold them back into my core competencies to develop as a {human|professional|coder}.
              **Work, play, teaching, learning, living.** All are facets of the same thing.
              From baking and Starcraft to travel and Aikido, I learn and grow.
              That is my mission; coding merely brings the bacon.

              I am neither a generalist nor a specialist.
              I am not shaped like a 'T' or like any other letter of the alphabet.
              I am a complex, fractally human being and become more so with every waking minute.

              I'm also pretty good at building things.

              I like to work with my brain and my hands, but I'm better at the former.

    footer#bottom: .center-children: span: :markdown
       Want to build things together? [Drop me a line.](mailto:sp@mnesty.com)

    script.
      // Oh hi there! WTF is this?
      // Spammers have been harvesting the email from this page. Very rude.
      // This blob of JS puts a real address in there for humans only.
      // But since you're here, don't click on that. Just mail my first name at luchenlabs.com
      // with [EXTRA CREDIT] on the subject line
      document.onscroll = (async () => {
        let ip;
        document.onscroll = null;
        document.querySelector('footer#bottom a').href = [ 'mailto:', 'bml+', new Date().toISOString().replace(/:/g, '-'), '@luchenlabs', '.com', ].join('');
        fetch('https://www.cloudflare.com/cdn-cgi/trace').
          then(r => r.body.getReader()).
          then(reader => reader.read()).
          then(o => (new TextDecoder("utf-8").decode(o.value))).
          then(v => console.log(ip = v.match(/ip=(.*)/)[1])).
          then(() =>
            document.querySelector('footer#bottom a').href = [
              'mailto:',
              'bml+',
              new Date().toISOString().replace(/:/g, '-'),
              `-${ip}`,
              '@luchenlabs',
              '.com',
            ].join('')
          );
      });
